.registro{
    background-color: black; 
    height: 29em;
    border-radius: 9%;
 }
 
 .inputs{
     height: 17em;
     width: 14em;
     align-items: center;
     font-size: 1.4em;
 
 }
 
 .inputs_label{
     padding-top: 3%;
     display: block;
 }
 
 .inputs_text{
     margin-top: 1%;
     height: 7.5%;
     border-style: hidden;
     border-radius: 9999px;
     border-color: #646cff;
     border: 1px solid transparent;
     background-color: #492727;
    
 }
 .inputs_text:hover {
    border-color: #646cff;
  }

 .inputs>button{
    width: 60%;
    height: 15.5%;
    margin-top: 2em;
 }