.registro{
    background-color: black; 
    height: 35em;
    width: 30em;
    border-radius: 9%;

 }

 
 .inputs{
     height: 17em;
     width: 14em;

     font-size: 1.4em;
 
 }
 
 .inputs_label{
     padding-top: 1%;
     display: block;
 }
 
 .inputs_text{
     margin-top: 1%;
     height: 12%;
     border-style: hidden;
     border-radius: 20px;
     border-color: #646cff;
     border: 1px solid transparent;
     background-color: #7f1766;
    
 }
 .inputs_text:hover {
    border-color: #646cff;
  }

 .inputs>button{
    width: 60%;
    height: 15.5%;
    margin-top: 1.3em;
 }